:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);

    /*  Font Size */
    --paragrapFs: 15px;

    /* Font weight */
    --fw-paragraph: 400;
    --fw-heading: 700;
}

body {
    background-color: var(--slate300);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wrapper {
    border-radius: 20px;
    padding: 16px;
    padding-bottom: 40px;
    margin: 24px;
    max-width: 320px;
    background-color: var(--white);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-container {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.qr-image {
    max-width: 100%;
}

.main-heading {
    line-height: 120%;
    color: var(--slate900);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: var(--fw-heading);
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.text-container {
    padding: 0 16px 0 16px;
}

.paragraph {
    font-size: var(--paragrapFs);
    line-height: 140%;
    font-weight: var(--fw-paragraph);
    letter-spacing: 0.2px;
    color: var(--slate500);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    margin-bottom: 0;
    margin: 0;
}